body {
  margin: 0 80px;
  font-family: 'Arial', sans-serif;
  background-color: #111;
  color: #FAFAFA;
  
}

.main-content {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

a:hover {
  color: #999;
  text-decoration: underline;
}
